:root {
     --color_by_vu: #ff3d00;
}
.hover-post,.img-post {
     transition: .4s ease-in-out;
}
.hover-post:hover .img-post{
     transform: scale(1.05);
     transition: .4s ease-in-out;
}
.title_new_banner {
     font-size: 200% !important;
     font-weight: 900;
     color: white;
     transition: .3s ease-in-out;
}
.title_new_banner:hover {
     color: var(--color_by_vu);
     transition: .3s ease-in-out;
}
.shadow_new_banner{
     position: relative;
     border-radius: 10px !important;
     overflow: hidden;
}
.shadow_new_banner::before {
     position: absolute;
     width: 100%;
     height: 50%;
     bottom: 0;
     content: "";
     background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.01) 0%, black 100%) !important;
     background-image: -ms-linear-gradient(-90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.01) 0%, black 100%) !important; 
     background-image: -webkit-linear-gradient(-90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.01) 0%, black 100%) !important;
}

.carousel-caption_vd {
     bottom: 1.25rem;
     color: #fff;
     left: 5%;
     padding-bottom: -1.25rem;
     padding-top: 1.25rem;
     position: absolute;
     right: 5%;
     text-align: start;
}
.carousel-caption_vd .title_new_banner {
     font-size: 20px !important; 
}
.carousel-caption_vd p {
     margin-bottom: 0 !important;
}

/* title all post */
.title-wrap {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     float: left;
     width: 100%;
     line-height: 1;
     padding: 0 0 15px;
     margin: 0 0 20px;
     border-bottom: 2px solid #ebebeb;
}
.title-wrap:after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 60px;
     height: 3px;
     background-color: var(--color_by_vu);
     margin: 0 0 -2.5px;
}

.title-wrap > h2 {
     font-weight: 700;
     margin: 0;
}

.title-wrap > a.more {
     font-size: 15px;
     color: #aaaaaa;
     line-height: 16px;
     padding: 0;
     transition: .3s ease-in-out;

}

.title-wrap > a.more:hover {
     color: var(--color_by_vu);
     transition: .3s ease-in-out;

}
/* end all post */

/* bài post */
.text-loaiTin {
     color: var(--color_by_vu);
}
.text-vd {
     color: var(--color_by_vu);
}
.title_news:hover, .icon_news:hover {
     cursor: pointer !important;
     color: var(--color_by_vu) !important; 
     transition: .3s ease-in-out !important;
}

.text-link:hover {
     color: var(--color_by_vu);
}

/* end bài post */
@media screen and (max-width: 900px) {
     .title_new_banner {
          font-size: 100% !important;
     }
     .carousel-caption {
          padding-bottom: 0 !important;
     }

     .news-img {
          height: 200px;
          /* border-radius: 0 !important; */
          border-radius: 10px !important;
     }

     .news-post-res {
          padding: 0 !important;
     }
}

.img-zoom {
     border-radius: .5rem;
     overflow: hidden;
}

.img-zoom img:hover {
     transform: scale(1.1);
 }

 .img-zoom img {
     transition: transform .5s ease;
 }

 /* sarch  */
 .search_form {
     position: relative;
 }
 
 @keyframes search_anm {
     0% {
          opacity: 0;
          transform: translateY(-8px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
 }
 .search_out {
    box-shadow: 0 -4px 32px #0003;
    transition: all ease-in-out .3s;
    animation: search_anm ease .3s;
     margin-top: 10px;
     position: absolute;
     width: 100%;
     color:#0000008a;
     padding: 12px 24px !important;
     overflow-y: auto;
     border-radius: 10px !important;
     display: none;
     max-height: 580px;
     overflow-y: auto;
 }
 ::-webkit-scrollbar {
     width: 10px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background: #f1f1f1; 
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #888; 
     background-color: var(--color_by_vu);
     border-radius: 10px;
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #ff3c0097; 
   }

 .search_header {
     display: flex;
     align-items: center;
 }
 .search_header svg{
     width: 15px ;
     margin-right: 5px;
 }

 .search_header img{
     width: 15px;
     margin-right: 5px;
 }

 .search_heading {
     display: none;
     align-items: center;
     justify-content: space-between;
     padding: 12px 0 0 12px;
     border-bottom: 1px solid rgba(0, 0, 0, .05);
     margin-bottom: 6px;
 }
 .search_result {

 }
 .search_result a {
     padding-top: calc(var(--geeks-gutter-x)* .5);
     padding-bottom: calc(var(--geeks-gutter-x)* .5);
     transition: .3s ease-in-out;
 }
 .search_result a:hover{
     background-color: #e96b6b3d;
     border-radius: 10px;
     transition: .3s ease-in-out;
 }


